@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Source+Code+Pro:300');

* {
  box-sizing: border-box;
}

html {
    height: 100%;
    /*max-width: 100%;*/
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: sans-serif;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f2eddf;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  color: #f2eddf;
  border: 0.3em solid #f2eddf;
}

/*div, h1, html {
  max-width: 100%;
}*/

/*#wrap {
  padding: 0;
  margin: 0;
}*/

header {
  padding: 0.7em;
}

h1, h4 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 300;
}

h1 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

p {
  margin: 0;
  font-size: 0.8em;
}

a {
    text-decoration: none;
    color: inherit;
    opacity: 0.8;
}

a:hover {
    opacity: 1;
}

#main {
  flex: 1;
}

.bandcamp {
  border: 0; 
  width: 200px; 
  height: 342px;
  opacity: 0.9;
  border-radius: 1px;
  padding-top: 0.3em;
}

#bandcamp-container {
  text-align: center;
}

#album {
    padding-bottom: 1em;
}

.tracklist,
#liners-container {
  padding: 0.7em;
  margin: 0.7em;
}

.tracklist {
  display: flex;
  justify-content: space-between;
}

.tracklist ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tracklist div:last-of-type {
  text-align: right;
}

#liners-container {
  display: flex;
  margin-top: 1.5em;
}

.logo {
  text-align: center;
  padding-left: 2em;
  margin-top: auto;
}

.logo img {
  width: 75px;
}

.logo a {
    opacity: 1;
}

.logo a:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1020px) {

  body {
    background-size: auto;
  }

  .tracklist,
  #liners-container {
    font-size: 0.9em;
  }

  #liners-container {
    flex-wrap: wrap;
  }

  .logo {
    padding-left: 0;
    margin: 1em auto 0 auto;
  }

  .logo img {
    width: 65px;
  }

}
